bin
.cache
include/Ardlang.def
include/Ardlang-parenthesize.str
include/Ardlang-Permissive.def
include/Ardlang.generated.pp.af
include/Ardlang.packed.esv
include/Ardlang.pp.af
include/Ardlang.rtg
include/Ardlang.str
include/Ardlang.tbl
include/Ardlang.rtree
include/Ardlang.ctree
include/Ardlang.ctree.dep
include/Ardlang.jar
editor/java/trans
editor/Ardlang-*.generated.esv
syntax/Ardlang*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
*~
arduino-1.0/
arduino/arduino-1.0/

