<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="ard" description="Ardlang" language="Ardlang" derivedFrom="DynamicRoot" validator="ardlang.ArdlangValidator" validatorClass="ardlang.ArdlangValidator"></language>
       </extension>
       <extension id="ardlang.parser" name="Ardlang Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="ardlang.ArdlangParseController" language="Ardlang">
          </parser>
       </extension>    
    </plugin>